h1, 
h2,
h3,
h4 {
	font-family: "Righteous", cursive;
	font-weight: normal;
}

body {
	font-family: "Roboto", sans-serif;
}

.code {
	background-color: #F2DEB8;
}

.inline {
	padding: 5px;
}

.block {
	overflow: scroll;
}

.main-header {

}

.table-of-contents {

}

.contents {

}

.contents-entry {

}

.category-header {

}

.example {

}

.section-break {

}

.beers {

}

.instructions {

}

.fetch-method {

}

.method-entry {

}

.styles {

}