:root {
  --ivy: #181F1C;
  --hunter: #274029;
  --moss: #315C2B;
  --leaf: #60712F;
  --hops: #BBAC57;
  --light-hops: #D6CB8D;
}

* {
  box-sizing: border-box;
}

header,
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  color: var(--moss);
}

a:hover {
  color: var(--hops);
}

a:active {
  color: var(--leaf);
}

h1,
h2,
h3,
strong {
	font-family: "Righteous", cursive;
	font-weight: normal;
  color: var(--hunter);
}

strong {
  font-size: 1.25rem;
}

hr {
  border: 0;
  height: 1px;
  background: var(--ivy);
  background-image: linear-gradient(to right, #BABCBA, #181F1C, #BABCBA);
  margin: 30px 0;
}

body {
  color: var(--ivy);
}

body {
  margin: 0 auto;
  padding: 0 50px 50px;
	font-family: "Roboto", sans-serif;
}

code {
  padding: 1px 5px;
}

.block {
  padding: 0;
  overflow: scroll;
}

.code {
  background-color: var(--light-hops);
}

.first {
  margin-bottom: 10px;
}

.inline {
	padding: 5px;
}